h1
{
font-family: Chinese;
color: black;
font-size: 50px;
}

h2
{
font-family: fantasy;
color: maroon;
font-size: 45px;
}

body
{
background-image: url('background.jpeg');
background-repeat: no-repeat;
background-size: cover;
}
